<% include /partials/menu %>

  <div class="ui container">
    <h1 class="ui centered header">Account Profile</h1>
    <hr>
    <div class="section">
      <div class="ui grid">
        <form action="<%= '/user/update/'+  data.id %>" method="post" class="ui centered form">
          <div class="field">
            <label>Name</label>
            <input type="text" name="name" value="<%= data.name %>">
          </div>
          <div class="field">
            <label>Uuid</label>
            <input type="text" name="uuid" value="<%= data.uuid %>">
          </div>
          <button class="ui right floated  orange button" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
